# Gradle
.gradle
**/build/
!**/src/**/build/

# MacOS
.DS_Store

# IntelliJ IDEA
!/.idea
/.idea/*
!.idea/detekt.xml
!.idea/externalDependencies.xml
!/.idea/copyright
!/.idea/codeStyles
!/.idea/inspectionProfiles
!.idea/icon.svg
!/.idea/icon.png
!/.idea/icon_dark.png
*/**/.idea
